.container_div{
    margin: 10px;
    border: 1px solid gray;
    padding: 10px 20px;
    color: #315375;
    line-height: 2;
}

.googleImg, .shareImg, .reviewsImg{
    margin-bottom: 10px !important;
    height: 60px;
    margin-top: 30px;
}
.direction_btn, .share_btn, .reviews_btn{
    margin-top: 15px;
}
#map{
    height:100%;
}

.modal-content{
    height: 600px;
}
#modal_2_content{
    padding: 0px 60px;
}

.status{
    height: 50px;
    background-color: gainsboro;
    padding: 0px 200px;
}
span{
    padding-left: 40px;
    font-size: 22px;
    color: #069633;
}

#car_img{
    height: 45px;
    margin-bottom: 10px;
}

h4{
    color: #0f78e6;
}

.col2{
    margin-top: 10px;
}

#custom_email_div{
    margin-top: 31px;
}

.col-md-3{
    margin-right:30px;
}
#sent{
    text-align: center;
    color: green;
    margin-top: 20%;
}